<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFiles</key>
	<string>___FILEBASENAME___.swift</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Module:</string>
			<key>Description</key>
			<string>Name of VIPER module to create:</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>ViperModule</string>
			<key>NotPersisted</key>
			<string>true</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>withXIB</string>
			<key>Name</key>
			<string>Also create XIB file</string>
			<key>Description</key>
			<string>Whether this VIPER module contains a view with XIB</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<false/>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
